*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home_Screen {
    padding-top: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    

}
